@model Assignment8.Controllers.ArtistWithMediaItem

@{
    ViewBag.Title = "Artist Details";
}

<h2>Artist details with media assets for @Html.DisplayFor(model => model.Name)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
            <hr />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthName)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthOrStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthOrStartDate)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlArtist)
        </dt>

        <dd>
            <img src=@Html.DisplayFor(model => model.UrlArtist) height="200" width="250" />
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profile)
        </dt>

        <dd>
            @Html.Raw(Model.Profile)
            <hr />
        </dd>

        <dt>
            Photos
        </dt>
        <dd>
            @foreach (var item in Model.MediaItems.Where(m => m.ContentType.Contains("image/")))
            {
                <div>
                    <span>@item.Caption</span><br>
                    <img src="~/media/@item.StringId" alt="@item.Caption" title="@item.Caption" width="200">
                </div>
            }
            <hr>
        </dd>

        <dt>
            Audio
        </dt>
        <dd>
            @foreach (var item in Model.MediaItems.Where(m => m.ContentType.Contains("audio/")))
            {
                <div>
                    <span>@item.Caption</span><br>
                    <audio src="~/media/@item.StringId" controls="controls"></audio>
                </div>
            }
            <hr>
        </dd>

        <dt>
            Documents
        </dt>
        <dd>
            @foreach (var item in Model.MediaItems.Where(m => m.ContentType.Contains("application/")))
            {
                <div>
                    <span>@item.Caption</span><br>
                    <a href="~/media/@item.StringId/download"><img src="~/Images/file.png" width="50" height="50"/></a>
                </div>
            }
            <hr>
        </dd>

    </dl>
</div>
<p>
    @using System.Security.Claims;
    @if ((User as ClaimsPrincipal).HasClaim(ClaimTypes.Role, "Executive"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        @Html.Raw(" | ")
    }
    @Html.ActionLink("Back to List", "Index")
    @using System.Security.Claims;
    @if ((User as ClaimsPrincipal).HasClaim(ClaimTypes.Role, "Coordinator"))
    {
        @Html.Raw(" | ")
        @Html.ActionLink("Add album for this artist", "AddAlbum")
    }
        | @Html.ActionLink("Add media asset for this artist", "AddMediaItem")
</p>
