@model Assignment8.Controllers.TrackBase

@{
    ViewBag.Title = "Track Details";
}

<h2>Tracks Details - @Html.DisplayFor(model => model.Name)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AudioUpload)
        </dt>

        <dd>
            <audio src="/clip/@Model.Id" controls="controls"></audio>
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Composers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Composers)
        </dd>

        
    </dl>
</div>
<p>
    @using System.Security.Claims;
    @if ((User as ClaimsPrincipal).HasClaim(ClaimTypes.Role, "Clerk"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) 
        @Html.Raw(" | ")
    }
    @Html.ActionLink("Back to List", "Index")
</p>
